// 自定义图片样式
.img-x {
  position: relative;
  overflow-y: hidden;
  height: 100%;
  white-space: nowrap;
  a {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    vertical-align: top;
    height: 100%;
    width: 40%;
  }
}

.img-y {
  position: relative;
  overflow-y: hidden;
  height: 100%;
  white-space: nowrap;
  a {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 10px 10px;
    vertical-align: top;
    height: 100%;
    width: 30%;
  }
}