/* ---------------------------------
 *            Buttons
 * --------------------------------- */
.button
    &.is-transparent
        color: inherit
        background: transparent
        border-color: transparent

/* ---------------------------------
 *        Add Credit Button Style
 * --------------------------------- */
 .credit
    text-decoration: none
    padding: 4px 6px
    margin-top: 1em
    font-size: 12px
    /*font-weight: bold*/
    line-height: 1.2
    display: inline-block
    border-radius: 3px
    .credit-mark
        display: inline-block
        padding: 2px 3px